.appContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: white;

    .mapHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mapContent {
        flex-grow: 1;
        position: relative;
        overflow: auto;

        svg {
            position: absolute;

            :global(.is-selected) {
                fill: red !important;
            }
        }
    }
}
